* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #091921;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;

}

main {
    width: 50vw;
    height: 70vh;
    margin: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5rem;
    padding: 0.7em;
    box-shadow: 20px 20px 50px rgba(143, 139, 139, 0.5);
    background: #040c0f;
}

#screen {
    width: 90%;
    height: 20%;
    margin-bottom: 2em;
    margin-top: 1em;
    display: flex;
    padding: 1em;
    align-items: flex-end;
    justify-content: flex-end;
    border-radius: 10px;
    box-shadow: inset 0px -2px 4px rgba(143, 139, 139, 0.5);
    background: #fff;
    font-size: 20px;
}

#screen:hover {
    cursor: none;
}

#buttons {
    width: 90%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 0.5em;
}

button {
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 20px;
}

button:hover {
    cursor: pointer;
    background-color: rgba(7, 54, 25, 0.287);
    color: #fff;
    outline: 2px solid rgb(26, 109, 70);
}

#evaluateBtn {
    
    background-color: rgba(218, 16, 16, 0.911);
    color: #fff;
    outline: 2px solid rgba(27, 14, 10,0.959);
}

#clearBtn {
    background-color: rgba(31, 93, 117, 0.842);
    color: #fff;
    outline: 2px solid rgba(27, 14, 10, 0.959);
}